name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: typst-community/setup-typst@v4
        with:
          cache-dependency-path: requirements.typ
      - name: Compile resume
        run: |
          touch .env
          typst compile resume.typ
      - uses: actions/upload-artifact@v5
        with:
          name: resume
          path: resume.pdf
